{% extends "template.html.twig" %}

{% block title %}Accueil
{% endblock %}


{% block content %}
	<section id="random">
		<div class="row-limit-size">

			<h2 class='titleSection'>Selection du jour</h2>
			<article class='articleHomePage'>
				<a href="{{ link }}{{ random.id }}"><img src="{{style}}img/{{random.thumbnail}}" alt="{{random.title}}"></a>
				<h3>{{random.title}}</h3>

				<p>{{random.description}}</p>


			</article>

		</div>
	</section>
	<section id="breakfastRecipe">
		<div class="row-limite-size">
			<h2 class='titleSection'>Petit déjeuner</h2>
			<div class= 'containerFourRecipe'>
				{% for breakfast in breakfasts %}
					<article class='articleHomePage'>
						<a href="{{ link }}{{ breakfast.id }}"><img src="{{style}}img/{{breakfast.thumbnail}}" alt="{{breakfast.title}}"></a>
						<h3>{{breakfast.title}}</h3>
						<p>{{breakfast.description}}</p>

					</article>
				{% endfor %}
			</div>
		</div>
	</section>
	<section id="entreeRecipe">
		<div class="row-limite-size">
			<h2 class='titleSection'>Entrée</h2>
			<div class= 'containerFourRecipe'>
				{% for entree in entrees %}
					<article class='articleHomePage'>
						<a href="{{ link }}{{entree.id}}"><img src="{{style}}img/{{entree.thumbnail}}" alt="{{entree.title}}"></a>
						<h3>{{entree.title}}</h3>
						<p>{{entree.description}}</p>
						
					</article>
				{% endfor %}
			</div>
		</div>
	</section>


{% endblock %}
